/** テーブル設定 **/
/* 隣接する線を重ねて表示 */
.table-css { 
  border-collapse: collapse; 
  width: 90%;
}

/* 上部と左側の線のみ非表示。下部と右側は残っている */
.td-css11 { 
  border: 1px solid black; 
  border-top-style:none; 
  border-left-style:none; 
} 

/* 上下左右すべての線を非表示 */
.td-css13 { 
  border-style:none; 
} 

/* すべての線を表示 */
.td-css { 
  border: 1px solid black; 
  height: 40px;
}