/**
 *
 * ログイン画面用スタイル
 *
 * @autor Hiroki Okada
 * @date 2019/2/25
 *
 */

p{
	font-size : 14px;
}

h2{
	position : relative;
	left : 220px;
	bottom : -40px;
	font-size : 20px;
	/* color : #F3E9BB; */
	color : blue;
}

body{
	background-color : #E9E8E0;
	margin : 100px;
}

#page{
	width : 600px;
	margin : 0 auto;
}

.upbox{
	height : 110px;
	width : 600px;
	background-color : #C81528;
}


.downbox{
	height : 300px;
	width : 600px;
	background-color: #F7F7F7;
	position : center;
}

#downitem{
	padding : 30px;
}

#login{
	font-size : 15px;
	margin-top : 0;
	height : 50px;
	width : 380px;
}

#password{
	position : relative;
	height : 50px;
	width : 380px;
}

#submitbtn{
	position: relative;
	top : 20px;
	height : 50px;
	width : 380px;
} 

input{
	font-size : 20px;
	height : 50px;
	width : 380px;
	border-radius : 30px;
	position : relative;
	padding-left : 20px;
} 


#alarm{
	position : relative;
	top : 20px;
	color : red;
}

.btn1{
	width : 300px;
	position : relative;
	bottom : 40px;

}


/*ボタンの制作*/
.downbox .btn1 a{
	font-size : 18px;
	font-weight : normal;
	text-decoration : none;
	color : #FFFFFF;
	background-color : #067d9e;
	padding : 10px 30px;
	border-radius : 5px;
}


